<section class="container-lg">
    <h1>Lista de productos</h1>
    {{#if isEmpty}}
    <ul class="list-group">
        {{#each productos}}
        <li class="list-group-item">{{this.title}}</li>
        {{/each}}
    </ul>
    {{else}}
    <h1>Esta bacio</h1>
    {{/if}}

</section>