<section class="container-lg">
    <h1 class="text-center py-5">Chat</h1>
    {{> listChat}}

    <form id="formChat">
        <div class="mb-3">
            <input type="email" class="form-control" name="email" required placeholder="Email de su usuario">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="nombre" required placeholder="Ingrese su nombre">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="apellido" required placeholder="Ingrese su apellido">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" name="edad" required placeholder="Ingrese su edad">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="alias" required placeholder="Ingrese su alias">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="avatar" required placeholder="url de su avatar">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="text" id="formInput" required
                placeholder="Escriba su mensaje">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</section>