<section class="container-lg">
    <form id="formLogin">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingrese su nombre</label>
            <input type="text" class="form-control" name="username" id="formLoginInput">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</section>