<section class="container-lg">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading" id="alertError">Sesion cerrada!</h4>
        <p>{{ user }} cerro su sesion</p>
    </div>
</section>
<script src="./js/logout.js"></script>