<section class="container-lg">
    <form id="formLogin">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingrese su email</label>
            <input type="email" class="form-control loginInput" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingrese su password</label>
            <input type="text" class="form-control loginInput" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <a href="/register">Registrarse</a>
</section>