<section class="container-lg">
    <div class="alert alert-primary d-flex justify-content-between" role="alert">
        Bienvenido al inicio
        <a href="/logout" class="btn btn-outline-danger" id="logout">LogOut</a>
        {{!-- <button class="btn btn-outline-danger" id="logout">LogOut</button> --}}
    </div>
</section>