<section class="container-lg">
    <form id="formRegister">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingrese su email</label>
            <input type="email" class="form-control registerInput" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ingrese su password</label>
            <input type="text" class="form-control registerInput" name="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Confirme su password</label>
            <input type="text" class="form-control registerInput" name="confirmPassword" >
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <a href="/login">Login</a>
</section>