<section class="container-lg">
    <h1 class="text-center py-5">Chat</h1>
    {{> listChat}}

    <form id="formChat">
        <div class="mb-3">
            <input type="email" class="form-control" name="email" required placeholder="Email de su usuario">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="text" id="formInput" required placeholder="Escriba su mensaje">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</section>